@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


.bgbg {
	background-color: "#1f2023";
}

.malgo {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 18px;
	color: "FFFFFF";
}